<div class="center hero-unit">
  <h1>Yo Dawg, I heard you like Palindromes</h1>


  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>